/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$main-color: #4B2E83; 
$secondary-color: #3A1E6E; 
$bg-gradient: linear-gradient(180deg, #EDE7F6 0%, #FFFFFF 100%); 
$footer-bg: #5E3A99; 