@use 'components/variables' as *;
@use 'components/base';

@use 'components/header';
@use 'components/footer';
@use 'components/home';
@use 'components/upload';
@use 'components/services';
@use 'components/register';
@use 'components/cart';
@use 'components/product';