/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@use 'variables' as *;

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: $bg-gradient; 
  color: $main-color;      
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: $secondary-color;
  margin-top: 0;
}

a {
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
  }
}

p {
  margin-bottom: 1em;
}