/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.register-page {
  background-color: #f6f4fa;

  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 20px;
    min-height: calc(100vh - 250px);
    background-color: #f6f4fa;
  }

  .form-container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 400px;

    .register-header {
      max-width: 100%;
      display: block;
      margin: 0 auto 10px auto; 
    }

    h2 {
      text-align: center;
      color: #4b2e83;
      margin-bottom: 20px;
      font-size: 20px;
    }

    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      input {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 14px;
      }

      button {
        width: 100%;
        padding: 12px;
        margin-top: 12px;
        background-color: #4b2e83;
        color: white;
        border: none;
        border-radius: 6px;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
        -webkit-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #3c2570;
        }
      }
    }

    .login-link {
      text-align: center;
      margin-top: 12px;
      font-size: 13px;

      a {
        color: #4b2e83;
        text-decoration: none;
      }
    }
  }
}


.back-btn {
  font-size: 28px;
  font-weight: 700;
  color: #4b2e83;
  text-decoration: none;
  margin-left: 20px;
}